<form>
  <input type="text" name="name" required id="name" placeholder="Name" ng-model="name">
  <input type="text" name="email" required id="email" placeholder="Email" ng-model="email">
  <input type="password" name="password" required id="password" placeholder="Password" ng-model="password">
  <input type="password" name="confirm_password" required id="confirm_password" placeholder="Confirm Password" ng-model="confirm_password">
  <input type="submit" ng-click="createUser()" value="Register" class="btn btn-primary btn-md">     
</form>