<form>
  <input type="text" name="name" required id="name" placeholder="Name" ng-model="name"><br>
  <input type="text" name="email" required id="email" placeholder="Email" ng-model="email"><br>
  <input type="password" name="password" required id="password" placeholder="Password" ng-model="password"><br>
  <input type="password" name="confirm_password" required id="confirm_password" placeholder="Confirm Password" ng-model="confirm_password"><br>
  <input type="submit" ng-click="createUser()" value="Register">     
</form>